<!-- Pretend this is in a loop going thru all lights -->

<ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" [hideTextInput]="true" [(ngModel)]="devices[0].color" (ngModelChange)="colorChanged()"></ngx-colors>
<mat-slide-toggle [(ngModel)]="devices[0].status" (ngModelChange)="statusChanged()"></mat-slide-toggle>
<mat-form-field class="example-full-width">
    <mat-label>Brightness</mat-label>
    <input matInput [(ngModel)]="devices[0].brightness" (ngModelChange)="brightnessChanged()" maxlength="2" value={{devices[0].brightness}}>
  </mat-form-field>